.contips {
  position: absolute;
}
.contips .wrap {
  position: relative;
  background: #fff;
  min-width: 80px;
  max-width: 680px;
  min-height: 40px;
  border: 1px solid #bbb;
  box-shadow: 0 0 6px #bbb;
  border-radius: 3px;
}
.contips .wrap .con {
  z-index: 999;
}
.contips .wrap .ver {
  position: absolute;
  width: 20px;
  height: 20px;
}
.contips .wrap .ver .arr1 {
  position: absolute;
  width: 0;
  height: 0;
  border-width: 10px;
  border-style: solid;
  border-color: transparent;
}
.contips .wrap .ver .arr2 {
  position: absolute;
  width: 0;
  height: 0;
  border-width: 9px;
  border-style: solid;
  border-color: transparent;
}
.contips .wrap .ver.top {
  bottom: -20px;
}
.contips .wrap .ver.top .arr1 {
  border-top-color: #aaa;
}
.contips .wrap .ver.top .arr2 {
  border-top-color: #fff;
  bottom: 2px;
  left: 1px;
}
.contips .wrap .ver.right {
  left: -20px;
}
.contips .wrap .ver.right .arr1 {
  border-right-color: #aaa;
}
.contips .wrap .ver.right .arr2 {
  border-right-color: #fff;
  left: 2px;
  top: 1px;
}
.contips .wrap .ver.left {
  right: -20px;
}
.contips .wrap .ver.left .arr1 {
  border-left-color: #aaa;
}
.contips .wrap .ver.left .arr2 {
  border-left-color: #fff;
  right: 2px;
  top: 1px;
}
.contips .wrap .ver.bottom {
  top: -20px;
}
.contips .wrap .ver.bottom .arr1 {
  border-bottom-color: #aaa;
}
.contips .wrap .ver.bottom .arr2 {
  border-bottom-color: #fff;
  top: 2px;
  left: 1px;
}
.contips .wrap .close {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
  right: 0;
  line-height: 20px;
  text-align: center;
  font-size: 12px;
  color: #aaa;
}
.contips .wrap .close:hover {
  color: #000;
  background: #f9f9f9;
  border-radius: 0 3px 0 5px;
  cursor: pointer;
}
